 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  border: solid 1px red;
  caret-color: blueviolet;
  color: white;
  font-family:helvetica ;

  
  
 }
 *:not(input) {
  caret-color: transparent;
}
body{

  background-image: url(IMAGES/background2.png);
  background-color: rgba(0, 0, 0, 0.8);
  background-blend-mode:darken ;
  background-size: cover;
  display: grid;
  height: auto;

}
h2{
  color: orange;
  margin-top: 30px;
  margin-left: 10%;
}
