 *{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* border: solid 1px red; */
  caret-color: blueviolet;
  color: white;
  font-family:helvetica ;
  
  
 }
 *:not(input) {
  caret-color: transparent;
}
body{

background-image: url(background2.png);
background-color: black;
background-size: cover;
}