.website_cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 margin-top: 50px;
 margin-left: 100px;
 margin-right: 100px;
 margin-bottom: 200px;
 background-size: cover;
}
.site_img{
    width: 100%;
    
    
}
.site_para{
    text-align: center;
    font-size: 20px;
}