 *{
  
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
  /* border: solid 1px red; */
  caret-color: blueviolet;
  color: rgb(203, 204, 207);
  font-family:helvetica ;

  
  
 }
 *:not(input) {
  caret-color: transparent;
}
body{

  background-image: url(images/SKYBANNER.jpg);
  background-color: rgba(0, 0, 0, 0.8);
  border-color: rgb(43, 226, 113);
  background-blend-mode:darken ;
  background-size: cover;
  height: 100%;

}
h2{
  color: orange;
  margin-top: 30px;
  margin-left: 10%;
}
a{
  color: orange;
}
