
.profile-pic-container{
  display: flex;

  margin-left: 10px;
  margin-right: auto;
  height: inherit;
  align-items: center ;
}
.profile-pic{
  height: 50px;
  border-radius:1000px;

}
nav{
  border-bottom: solid 3px orange  ;
}

nav ul{
  margin-top: 1px;
  display: flex;
  list-style: none;
  justify-content: flex-end;
  align-items: center;
  height: 100%;
  width: 100%;
}
.nav li{
  height: 100px;
}
nav a {
  display: flex;
  top: 0;
  margin: none;
  height: 100%;
  align-items: center;
  text-decoration: none;
  color: rgb(0, 187, 255);
  font-size: 40px;
  padding: 0 30px;
}
nav a:hover{
  transition: 0.01s;
  color: orange;
  background-color: rgb(0, 187, 255);
  
}
nav li:first-child {
  margin-right: auto;
  margin-bottom: 2px;
}
nav li:first-child :hover{
  background-color: transparent;
  
}
nav li:last-child{
  margin-right: 10px;
}

.head-nav a:active{
  transition: 0.01s;
  color: white
  
}
.visited-link{
  color: orange;
  margin: none;
  height: 100%;
  align-items: center;
  text-decoration: none;
  font-size: 40px;
  padding: 0 30px;
}
.visited-link:hover{
  transition: 0.01s;
  background-color: orange;
  color: rgb(0, 187, 255);
  
}

.sidebar{
  
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 250px;
  z-index: 999;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  backdrop-filter: blur(10px);

}
.sidebar li{
  width: 100%;
  padding-bottom: 20px;
}
.sidebar a{
  width: 100%;
}
.sidebar :first-child{
  justify-content: center;
  margin-bottom: 2px;
}
.menu-button{
  display: none;
}
@media (max-width:920px){
  main {
  grid-template-columns: ;
  }
  .hideonmobile{
    display: none;
  }
  .main-para-div {
    width: 100%; /* Set to full width */
    margin: 0; /* Remove any margins */
    padding: 0; /* Remove any padding */
  }
 .menu-button{
  display: block;
 }

}
@media(max-width:420px){
  .sidebar{
    width: 100%;
  }
  .main-para{
    display: none;}
    /* nav ul{
      justify-items: auto;
    } */

  nav li:first-child {
    margin-right: 24%;
    align-content: center;
   
  }
  nav li:last-child{
    justify-content: flex-start;
  }

}