main{
  display: grid;
  height: auto;
  grid-template-columns: 1fr 1fr;
  /* background-color:rgba(0,0,0,0.7); */
  /* opacity: 0.9; */
  background-size: contain;
  padding-top: 100px;
  padding-bottom: 00px;
  margin-bottom: 0px;

  
}
.para_header{
  margin-top: 80px;
  margin-bottom: 50px;
  font-size: 45PX;
}

.main-para{
  display: block;
  /* margin-top: 200px; */
  padding-left: 5%;
  padding-right: 5%;
  margin-left: 5%;
  margin-right: 5%;
  text-align: left;
  text-indent: 2em;
  line-height: 150%;
  justify-content: center;
  font-size: 33px; 
  border: solid;
  border-color: rgb(0, 187, 255);
  /* height: inherit; */
  /* background-color: rgba(0,0,0,0.8); */
}
.tag-line{
  font-size: 40px;
  text-align: center;
  padding-top: 160px;
}
.main-para-div{
/* height: inherit; */

  background-size: contain;
}
.main-div-two{
    height: 800px;
    background-image: url(images/20231012_131217.jpg);
    background-size: cover;
  }

.main-img{
  width: 100%;
  height: inherit;
  object-fit: cover;
}
.page-top-div{
/* height: 1100px; */
  flex: 1;
 flex-direction: column;
  /* background-color: rgba(0,0,0,0.8); */
  
  background-size: cover;
  justify-content: center;
  padding-top: 100px;
}


.page-header{
  padding-top:40px;
  padding-bottom: 60px;
  text-align: center;
  font-weight: bolder;
  font-size: 60px;
  color: orange;

}
.page-para-div{
  display: flex;
  justify-content: center;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.page-para{
  width: 65%;
 text-align: center;
 padding-bottom: 10px;
  justify-content: center;
  font-size: 40px;
  padding-top: 15px;
  border: solid;
  border-color: rgb(0, 187, 255);
  text-indent: 2em;
  
}
.cont{
  display: block;
  
  border-top: solid orange;
  
  /* background-color: rgb(19, 184, 235); */
}
.master-cont{
  display: flex;
  flex-direction: column;
}
