.website_cont{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
 column-gap: 5px;
 margin-top: 50px;
 margin-left: 100px;
 margin-right: 100px;
 margin-bottom: 200px;

}
.site_img{
    width: 100%;
    
    
    
}
.site_para{
    text-align: center;
    margin-top: 5px;
    font-size: 20px;
    border: solid;
    border-color: rgb(0, 187, 255);
}